* {
    font-family: Helvetica, Arial, Tahoma, Verdana;
}

#titulo {
    background: #cfffca;
}

#nombreTitulo {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid blue;
    border-right: 1px solid blue;
}

#indice {
     background: rgb(255, 0, 0);    
}


#cuerpo {
    background: rgb(0, 255, 200);
}

