* {
    font-family: Helvetica, Arial, Tahoma, Verdana;
    
}

body {
    background-image: url(img/SL-100420-36140-29.jpg);
}
#titulo {
    border-bottom: 1px solid black;
    border-top: 1px solid black;

}

#nombreTitulo {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
}

#indice {
     background: rgb(255, 255, 255);
     padding-top: 15px;
     padding-bottom: 15px;
     border-bottom: 1px solid black;
         
}



div section dt {
    border-right: 1px solid black;
}

div section dl {
    border-bottom: 1px solid black;
}

